<%- include ('./partials/head',{title: 'Homepage' }) %>

  <body>
    <div style="max-width: 60%; min-width: 40%; margin: auto;">
      <h2>Selamat datang di Tempat Penyewaan Vinnyl Record <br> Silahkan Login Untuk Melanjutkan</h2>
    </div>
    
    <div style="max-width: 60%; min-width: 40%; margin: auto;">
      <a class="btn btn-primary" id="movies" href="/login">Login</a>
    </div>
  </body>

</html>