<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <body>
    <div class="container">
      <h1>Login</h1>
        <form action="/login" method="POST" style="max-width: 60%; min-width: 40%; margin: auto;">
            <label>Mail</label><br>
            <input name='mail' type="text"><br>
            <label>Password</label><br>
            <input name='password' type="password"><br>
            <button type="submit">Log in</button>
        </form>
    </div>     
</body>
</body>
</html>

