<%- include('./partials/head', { title: "Register"}) %> 

<body>
    <div class="form-group" style="max-width: 60%; min-width: 40%; margin: auto;">
        <br><br><h1>Register Form</h1>
        
        <form action="/register" method="POST">
            <div>
                <label>Status</label><br>
                <input class="form-check-input" type="radio" id="flexRadioDefault1" name="status" value="admin">
                <label for="admin">Admin</label><br>
                <input class="form-check-input" type="radio" id="flexRadioDefault2" name="status" value="customer">
                <label for="customer">Customer</label><br><br>
            </div>
    
            <div>
                <label>Email</label><br>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" ><br>
                <label>Username</label><br>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username"><br>
                <label>Password</label><br>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"><br>
            </div>
            
            <div>
                <label>Name</label><br>
                <input name='name' class="form-control" type="text" placeholder="Mr. Authentique"><br>
                <label>No.KTP / Kartu Identitas</label><br>
                <input name='ktp' class="form-control" type="text" placeholder="3217071212120001"><br>
                <label>Age</label><br>
                <input name='age' class="form-control" type="text" placeholder="Default input" placeholder="8-70"><br>
            </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
            Already Have an Account? Login <a href="/login" >Click Here</a>
        </form>
    </div>
</body>

</html>