<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/user/register" method="POST">
        <p>Status</p>
        <input type="radio" id="admin" name="status" value="admin">
        <label for="admin">Admin</label><br>
        <input type="radio" id="customer" name="status" value="customer">
        <label for="customer">Customer</label><br>
        <p>Username</p>
        <input type="text" name="username" id="username">
        <p>Password</p>
        <input type="password" name="password" id="password">
        <p>Email</p>
        <input type="email" name="email" id="email"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>